@import 'globals';
@import 'type';

#about-us {
    background-image: url("../media/bg-section-about-us.jpg");
    padding-bottom: 6rem;
    text-align: center;
    overflow: hidden;
    color: $vulcan-white;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;

    h1 {
        font-size: 2rem;
        padding-top: 6rem;
    } 
 
    h2 {
        font-weight: $weight-400;
        font-size: 1.3rem;
        padding: 1rem 3rem;
    } 

    .button {
        a {
            color: $vulcan-white;
            text-decoration: none;
        }

        border: 1.5px solid $vulcan-white;
        padding: 0.5rem 1.8rem;
        width: 50%;
        display:block;
        margin: 0 auto;
    }
}