@import 'globals';
@import 'type';

#contact {


    .near-you {
        text-align: center;
        background-image: url('../media/map.jpg');
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 5rem;
        padding-bottom: 1rem;
        font-weight: $weight-700;

        a {
            text-decoration: none;
            color: $vulcan-grey;
            width: 30%;
            border: 1px solid black;
            padding: .5rem;

        }

    }

    .contact-us {
        color: $vulcan-white;
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 1rem;
        background-color: $vulcan-blue-dark;
        font-weight: $weight-700;

        a {
            text-decoration: none;
            color: $vulcan-white;
            width: 30%;
            border: 1px solid $vulcan-white;
            padding: .8rem;

        }
    }


    background-color: $vulcan-blue-dark;


    .crop {
        overflow: hidden;
        padding-top: 4rem;
    }

    .wave {
        display: block;
        transform: scaleY(3) scaleX(1.7) translate(11%);
    }

    a,
    p,
    h2 {
        font-family: $roboto-condensed;
        text-transform: uppercase;
    }

}