@import 'globals';
@import 'type';

footer {

    background-color: $vulcan-blue-medium ;



    .logo-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;


        img {
            width: 25px;

        }

    }

    .logo {
        width: 6rem;
        margin: 0rem auto;
        display: block;

    }

    .cell-logo {
        width: 18px;
        margin-left: 1rem;

    }

    .mail-logo {
        width: 18px;
        margin-left: 1rem;

    }

    a,
    p {
        font-family: $roboto-condensed;
        text-transform: uppercase;
        color: $vulcan-white;
        text-decoration: none;
        text-align: center;

    }
}

.copyright {
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-family: $roboto-condensed;
    font-weight: $weight-500;
    text-transform: uppercase;
    color: $vulcan-white;
    text-decoration: none;
    text-align: center;
}

@media(min-width: 768px) {
    #footer {


        display: flex;
        padding: 0 5rem;
        padding-bottom: 5rem;

        .logo-container {
            flex-wrap: nowrap;
        }
    }

    .copyright {
        position: absolute;
        padding-top: 5rem;
    }

    footer .logo {
        width: 10rem;
        margin-right: 5rem;
    }

}



@media(min-width: 1680px) {
    #footer {}
}