@import 'globals';
@import 'type';

footer {

    background-color: $vulcan-blue-medium ;



    .logo-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;

        img {
            width: 25px;

        }

    }

    .logo {
        width: 6rem;
        margin: 0rem auto;
        display: block;
    }

    a,
    p {
        font-family: $roboto-condensed;
        text-transform: uppercase;
        color: $vulcan-white;
        text-decoration: none;
    }
}