@import "globals";
@import "type";

#contact-advisor {
  background-color: $vulcan-blue-dark;
  padding-top: 3rem;
  padding-bottom: 3rem;
  form {
    padding-top: 2rem;
    border-top: 1px solid white;
  }
}

fieldset {
  padding-top: 1rem;
  border: none;
  border-top: 2px solid white;
}

.productForm,
.productFormTitle {
  color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  h2,
  p {
    color: white;
    text-align: center;
  }
  h2 {
    font-size: 35px;
    font-family: $roboto-condensed;
  }
  p {
    font-size: 15px;
    font-family: $roboto;
  }
}

label {
  width: 100%;
  font-weight: $weight-700;
}

#productType {
  background-color: $vulcan-white;
  color: grey;
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  background-position: right;
}

#productType:focus {
  background-color: white;
}

.product-button {
  background-color: $vulcan-blue-medium;
  border: none;
  width: 100%;
  color: white;
  padding: 0.5rem;
  margin-top: 2rem;
}
