@import 'globals';
@import 'type';

@media(min-width: 768px){
    header{
        background-color: rgba(71, 71, 71, 0);
        padding: 0 2rem;

        .tablet-hide{
            display: none;
        }
        a{
            display: block;
            color: $vulcan-white;
            font-family: $roboto-condensed;
            text-transform: uppercase;
            font-weight: $weight-500;
            font-size: 1rem;
        }
        a:hover{
            color: $vulcan-blue-medium;
        }
        .header-top{
            margin-top: 1rem;
        }
        button{
            display: none;
        }
        img{
            width: 10rem;
            padding-top: 2rem;
        }
        nav{
            display: block;
            position: absolute;
            margin: 0 auto;
            margin-top: 7rem;
            left: 0rem;
            width: 100%;
            ul{
                display: flex;
                justify-content: center;
                margin: 0 auto;
                padding: 0;
                list-style: none;
                max-width: 44rem;
                a{
                    color: $vulcan-white;
                    text-decoration: none;
                    font-family: $roboto-condensed;
                    text-transform: uppercase;
                    font-size: 0.8rem;
                }
                a:hover{
                    color: $vulcan-white;
                }
                li{
                    padding: 0.5rem 2.5rem;
                    background-color: rgba(71, 71, 71, 0.7);
                }
                li:hover{
                    background-color: $vulcan-blue-medium;
                }
            }
        }
    }
}