@import 'globals';
@import 'type';

@media(min-width: 768px){
    #hero{
        h1{
            font-size: 2.5rem;
            margin: 2rem;
            margin-top: 10rem;
        }
        .wave{
            transform: scaleY(1.5) scaleX(1) translate(0%);
        }
        .dot{
            height: 1rem;
            width: 1rem;
            margin: 0 0.5rem;
        }
        .view-flex{
            display: flex;
            justify-content: space-around;
            margin: 0 12.5rem;
        }
        a{
            font-weight: $weight-700;
            margin: 0;
        }
        a:hover{
            background-color: $vulcan-white;
            color: $vulcan-blue-medium;
        }
    }
}