@import 'globals';
@import 'type';

#newsletter {
    background-color: $vulcan-blue-light;
   

    h1 {
        font-size: 1.2rem;
        color: $vulcan-blue-dark;
        text-align: center;
        font-family: $roboto-condensed; 
        padding-top: 1rem;
        font-weight: $weight-500;
    }

    form {
 
        display: block;
        margin: 0 auto;

            padding: 1rem;
            input {
                border: 1px solid white;
                width: 70%;
                padding: 0.5rem;
                padding-left: 1rem;
                font-family:$roboto;
            }

            button {
                color: $vulcan-white;
                background-color: $vulcan-blue-medium;
                padding: 0.5rem; 
                border: none;
                font-weight: $weight-700;
                font-size: 1rem;
                width: 25%;
                margin-left: 3%;
                font-family:$roboto;
            }
        
    }
}


@media (min-width: 48em) {
    #newsletter {
      background-color: $vulcan-blue-light;
      display: grid;
      grid-template-columns: 1fr;
      h1 {
        font-size: 1.4rem;
        color: $vulcan-blue-dark;
        text-align: center;
        font-family: $roboto-condensed;
        padding-top: 0.5rem;
        font-weight: $weight-500;
        padding-left: 1rem;
      }
  
      form {
        display: block;
        margin: 0 auto;
        grid-column: 2/-1;
  
        padding: 1rem;
  
        input {
          border: 1px solid white;
          width: 70%;
         }
  
        button {
          color: $vulcan-white;
          background-color: $vulcan-blue-medium;
          padding: 0.5rem;
          border: none;
          font-weight: $weight-700;
          font-size: 1rem;
          width: 25%;
          margin-left: 3%;
          font-family: $roboto;
        }
      }
    }
  }


  @media (min-width: 105em) {
    #newsletter {
      background-color: $vulcan-blue-light;
      display: flex;
      flex-direction: row;
      h1 {
        font-size: 1.5rem;
        color: $vulcan-blue-dark;
        text-align: left;
        font-family: $roboto-condensed;
        padding-top: 0.5rem;
        font-weight: $weight-500;
        padding-left: 17rem;
  
        
      }
  
      form {
        width: 40%;
        margin-right: 17rem;
  
        input {
          border: 1px solid white;
          width: 70%;
          font-family: $roboto;
         }
  
        button {
          color: $vulcan-white;
          background-color: $vulcan-blue-medium;
          padding: 0.5rem;
          border: none;
          font-weight: $weight-700;
          font-size: 1rem;
          width: 25%;
          margin-left: 3%;
          font-family: $roboto;
        }
      }
    }
  }
  