// @import "mixins";
@import "globals";
@import "type";

#newsletter {
  background-color: $vulcan-blue-light;
  padding: 0.3rem 0.5rem;
  h2 {
    font-size: 1.2rem;
    color: $vulcan-blue-dark;
    text-align: center;
    font-family: $roboto-condensed;
    
    font-weight: $weight-500;
  }

  form {
    display: grid;
    grid-template-columns: 2.5fr 0.8fr;
    gap: 0.3rem;
    padding-bottom: 1rem;
    input {
      border: none;
      padding: 0.5rem 0.8rem;
      grid-column: 1/2;
      font-family: $roboto;
    }

    button {
      color: $vulcan-white;
      background-color: $vulcan-blue-medium;
      padding: 0.5rem;
      border: none;
      font-weight: $weight-700;
      font-size: 1rem;
      font-family: $roboto;
      grid-column: 2/-1;
    }
  }
}

@media (min-width: 48em) {
  #newsletter {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 0;
    h2 {
      display: block;
      padding: 0.5rem;
      font-size: 1.3rem;
    }

    form {
      padding: 0 1rem;
      text-align: left;
    }
  }
}

@media (min-width: 105em) {
  #newsletter {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 0;
    h2 {
      display: block;
      font-size: 1.8rem;
      text-align: left;
      padding-top: 0.5rem;
      padding-left: 16rem;
    }
    form {
      width: 70%;
      margin-right: 20rem;

      input {
        padding: 1rem;
      }
    }
  }
}
