@import 'globals';
@import 'type';

#sales-items {
    h2{
        color: $vulcan-grey;
        font-family: $roboto-condensed;
        text-align: center;
        font-weight: $weight-700;
        text-transform: uppercase;
        font-size: 1.5rem;
        margin: 0;
        margin-top: 3rem;
        padding: 0 7rem;
    }
    p{
        font-family: $roboto;
        font-weight: $weight-500;
        font-size: 0.9rem;
        text-align: center;
        padding: 0 2.5rem;
        margin: 0 auto;
        margin-top: 0.5rem;
        max-width: 52rem;
    }
    section {
        display: flex;
        justify-content: space-between;
        border-bottom: 1.5px solid $vulcan-light-grey;
        margin: 0.5rem;
        padding: 1rem;

        img{
            height: auto;
            width: 50%;
            margin-left: 1rem;
        }
        h3{
            font-family: $roboto-condensed;
            font-weight: $weight-700;
            color: $vulcan-grey;
            text-transform: uppercase;
            text-align: left;
            margin: auto;
            margin-left: 1rem;
            width: 50%;
        }
        a{
            display: none;
        }
    }
    .final{
        border: none;
    }
    .crop{
        overflow: hidden;
        padding-top: 4rem;
    }
    .wave{
        display: block;
        transform: scaleY(3) scaleX(1.7) translate(15%);
    }
}

@media(min-width: 768px){
    #sales-items{
        h2{
            font-size: 2rem;
            color: $vulcan-blue-dark;
        }
        .items-flex-box{
            display: flex;
            margin: 1rem;
        }
        section {
            display: block;
            border: none;
            padding: 0;
            margin: 0 auto;
            
            h3{
                margin: 0;
                text-align: center;
                width: 100%;
                color: $vulcan-blue-medium;
                font-size: 1.5rem;
                padding: 0 1rem;
                height: 3rem;
            }
            img{
                margin-left: 0;
                width: 100%;
                margin-bottom: 1rem;
                padding: 0.5rem;
            }
            a{
                display: block;
                font-family: $roboto;
                color: $vulcan-grey;
                text-align: center;
                margin-top: 1rem;
            }
        }
        .wave{
        transform: scaleY(1.5) scaleX(1) translate(0%);
        }
    }
}