@import 'globals';
@import 'type';

#sales-items {
    h2{
        color: $vulcan-grey;
        font-family: $roboto-condensed;
        text-align: center;
        font-weight: $weight-700;
        text-transform: uppercase;
        font-size: 1.4rem;
        margin: 0;
        padding: 0 5rem;
    }
    p{
        font-family: $roboto;
        font-weight: $weight-500;
        font-size: 0.8rem;
        text-align: center;
        padding: 0 1.6rem;
        margin: 0.5rem 0;
    }
    section {
        display: flex;
        justify-content: space-between;
        border-bottom: 1.5px solid $vulcan-light-grey;
        margin: 0.5rem;
        padding: 1rem;

        img{
            height: auto;
            width: 50%;
            margin-left: 1rem;
        }
        h3{
            font-family: $roboto-condensed;
            font-weight: $weight-700;
            color: $vulcan-grey;
            text-transform: uppercase;
            text-align: left;
            margin: auto;
            margin-left: 1rem;
            width: 50%;
        }
    }
    .final{
        border: none;
    }
    .crop{
        overflow: hidden;
        padding-top: 4rem;
    }
    .wave{
        display: block;
        transform: scaleY(3) scaleX(1.7) translate(11%);
    }
}