@import 'globals';
@import 'type';

#video {
    background-color: $vulcan-blue-medium;
    padding: 5rem 1.5rem;;


    // display: flex;
  
    .video-wrap{ 
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 16/9;

        iframe {
        border: 1.2rem solid $vulcan-blue-dark;
            background-color: green;
            height: 100%; 
            width: 96%;
        }

        @media (min-width: 48em) {
            iframe {
                width: 98%;
            }
        }

        @media (min-width: 23.75em) {
            iframe {
                width: 94%;
            }
        }




    }

}